/* General Styles */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	color: #333;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* Header Styles */
header {
	background: #50b3a2;
	color: white;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a {
	color: #e8491d;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}

/* Showcase Styles */
#showcase {
	min-height: 400px;
	background: url('../img/showcase.jpg') no-repeat 0 -400px;
	text-align: center;
	color: white;
}

#showcase h1 {
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p {
	font-size: 20px;
}

/* Newsletter Styles */
#newsletter {
	padding: 15px;
	color: white;
	background: #e8491d;
}

#newsletter h1 {
	float: left;
}

#newsletter form {
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"] {
	padding: 4px;
	height: 26px;
	width: 250px;
}

/* Box Styles */
#boxes .box {
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxes .box img {
	width: 90px;
	height: 90px;
}

/* Footer Styles */
footer {
	padding: 20px;
	margin-top: 20px;
	color: white;
	background-color: #e8491d;
	text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box {
		float: none;
		text-align: center;
		width: 100%;
		padding: 0;
	}
}
